/**
 * Page
 */

	html, body { 
		width: 100%;
		height: 100%;
	}

	.site {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		min-height: 100%;
	}

	header.site-header {
		flex-shrink: 0;
	}

	main.site-main {
		margin: 4.5rem 0 0 0;
		flex-grow: 1;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	footer.site-footer {
		width: 100%;
		flex-shrink: 0;
	}

