/**
 * AWSM Blocks
 */

 .entry-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem 0 4rem 0;
  }

  .entry-content > p:last-of-type {
    //margin: 0 0 4rem 0;
  }

  .entry-content > * {
    width: 100vw;
    margin: 0 0 0 0;
    padding: 1rem 2rem 1rem 2rem;

    @media all and (min-width: $bp-large) {
      width: 72vw;
    }
  }

  .entry-content > .alignwide {
    min-width: 92vw;
  }

  .entry-content > .alignfull {
    min-width: 100vw;
  }

  .wp-block-cover {
    height: 100vh;
  }

  .awsm-help .wp-block-column {
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 2rem;
  }

/**
 *
 */

 // Colors
$bg-color: $color-dark;
$dot-color: $color-light;

// Dimensions
$dot-size: 1px;
$dot-space: 28px;

.entry-content > .wp-block-hero--mini {
  height: 100vh;
  background:
  linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
  linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
  $dot-color;
background-size: $dot-space $dot-space;

  h1,h2,h3 {
    color: $color-light;
  }

  h1 {
    font-size: 4rem;
  }

 }
 
 .entry-content ul,
 .entry-content ol {
   margin: 1.5em auto;
   list-style-position: outside;
 }
 
 .wp-block-video video {
   max-width: 636px;
 }
 
 .wp-block-image img {
   display: block;
 }
 
 .wp-block-image.alignleft,
 .wp-block-image.alignright {
   width: 100%
 }
 
 .wp-block-image.alignfull img {
   width: 100vw;
 }
 
 .wp-block-gallery:not(.components-placeholder) {
   margin: 1.5em auto;
 }
 
 .wp-block-cover-text p {
   padding: 1.5em 14px;
 }
 
 ul.wp-block-latest-posts.alignwide,
 ul.wp-block-latest-posts.alignfull,
 ul.wp-block-latest-posts.is-grid.alignwide,
 ul.wp-block-latest-posts.is-grid.alignwide {
   padding: 0 14px;
 }
 
 .wp-block-table {
   display: block;
   overflow-x: auto;
 }
 
 .wp-block-table table {
   border-collapse: collapse;
   width: 100%
 }
 
 .wp-block-table td, .wp-block-table th {
   padding: .5em;
 }
 
//  .entry-content li {
//    margin-left: 2.5em;
//    margin-bottom: 6px;
//  }
 
 .entry-content ul ul,
 .entry-content ol ol,
 .entry-content ul ol,
 .entry-content ol ul {
   margin: 0 auto;
 }
 
 .entry-content ul ul li,
 .entry-content ol ol li,
 .entry-content ul ol li,
 .entry-content ol ul li {
   margin-left: 0;
 }
 
 
 .wp-block-embed.type-video > .wp-block-embed__wrapper {
   position: relative;
   width: 100%;
   height: 0;
   padding-top: 56.25%;
 }
 
 .wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
 }
 
 .wp-block-quote.is-large {
   margin: 0 auto 16px;
 }
 
 .wp-block-pullquote>p:first-child {
   margin-top: 0;
 }
 
 .wp-block-separator {
   margin: 3em auto;
   padding: 0;
 }
 
 .more-link {
     display: block;
 }
 
//  .wp-block-group > * {
//    width: 100%;
//    max-width: $l-max-width;
//    margin-left: auto;
//    margin-right: auto;
//  }
 
//  .wp-block-group > .alignwide {
//    max-width: 1100px;
//  }
 
 @media screen and (min-width: 768px) {
   .wp-block-cover-text p {
     padding: 1.5em 0;
   }
 
  //  .entry-content > * {
  //    padding-left: 0px;
  //    padding-right: 0px;
  //  }
 
 }

 .wp-social-link {
   width: 4rem;
   height: 4rem;
 }

 .wp-social-link a {
   color: $color-dark;
 }
 
 
 /**
  * Alignments
  */
 
  .alignleft,
  .alignright {
      max-width: 636px !important;	/* Let's work to make this !important unnecessary */
  }
 
  .alignleft img,
  .alignright img,
  .alignleft figcaption,
  .alignright figcaption {
      max-width: 50%;
      width: 50%;
  }
 
  .alignleft figcaption {
      clear: left;
  }
 
  .alignright figcaption {
      clear: right;
  }
 
  .alignleft img,
  .alignleft figcaption {
    float: left;
    margin-right: 1.5em;
  }
 
  .alignright img,
  .alignright figcaption {
    float: right;
    margin-left: 1.5em;
  }
 
  .aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
 
  /**
   * Comments
   */
 
   .comment-content a {
     word-wrap: break-word;
   }
 
   .bypostauthor {
     display: block;
   }
 
 /**
  * WP Captions
  */
 
  .wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
  }
 
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
 
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0;
  }
 
  .wp-caption-text {
    text-align: center;
  }
 
 /**
  * Galleries
  */
 
  .gallery {
    margin-bottom: 1.5em;
  }
 
  .gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
  }
 
  .gallery-columns-2 .gallery-item {
    max-width: 50%;
  }
 
  .gallery-columns-3 .gallery-item {
    max-width: 33.3333333333%;
  }
 
  .gallery-columns-4 .gallery-item {
    max-width: 25%;
  }
 
  .gallery-columns-5 .gallery-item {
    max-width: 20%;
  }
 
  .gallery-columns-6 .gallery-item {
    max-width: 16.6666666667%;
  }
 
  .gallery-columns-7 .gallery-item {
    max-width: 14.2857142857%;
  }
 
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%;
  }
 
  .gallery-columns-9 .gallery-item {
    max-width: 11.1111111111%;
  }
 
  .gallery-caption {
    display: block;
  }
 
   .wp-block-video video {
     max-width: 636px;
   }
 
   .wp-block-image img {
     display: block;
   }
 
   .wp-block-image.alignleft,
   .wp-block-image.alignright {
     width: 100%
   }
 
   .wp-block-image.alignfull img {
     width: 100vw;
   }
 
   .wp-block-gallery:not(.components-placeholder) {
     margin: 1.5em auto;
   }
 
   .wp-block-cover-text p {
     padding: 1.5em 14px;
   }
 
   ul.wp-block-latest-posts.alignwide,
   ul.wp-block-latest-posts.alignfull,
   ul.wp-block-latest-posts.is-grid.alignwide,
   ul.wp-block-latest-posts.is-grid.alignwide {
     padding: 0 14px;
   }
 
   .wp-block-table {
     display: block;
     overflow-x: auto;
   }
 
   .wp-block-table table {
     border-collapse: collapse;
     width: 100%
   }
 
   .wp-block-table td, .wp-block-table th {
     padding: .5em;
   }
 
   @media screen and (min-width: 768px) {
     .wp-block-cover-text p {
       padding: 1.5em 0;
     }

   }
 

/*------------------------------------*\
    #BLOCKS Colors
\*------------------------------------*/
/**
 * 1) Blocks are collections of text and/or images/media working together as a unit.
 */

// Block colour palette

/**
 * Primary color
 */
.has-primary-background-color { 
    background-color: $color-primary;     
}

.has-primary-color {
    color: $color-primary;
}
 /**
 * Secondary color
 */
.has-secondary-background-color { 
    color: $color-secondary;    
}

.has-secondary-color { 
    color: $color-secondary;    
}
/**
 * Dark color
 */
.has-dark-background-color {
    background-color: $color-dark;  

}
.has-dark-color { 
    color: $color-dark    
}
 /**
 * Light color
 */
.has-light-background-color {
    background-color: $color-light;    
}

.has-light-color { 
    color: $color-light;    
}

nav.social-links {

    ul {
        justify-content: space-around;

        li {
            margin: 0;

            a {
                font-size: 1.2rem;
                color: $color-secondary;
            }

            a:before {
                color: $color-secondary;
                font-weight: normal;
            }

        }
       
    }
}
