/**
 * 1. FOOTER
 */

	footer.site-footer p {
		font-size: 1rem; 
	}

/* 
 * 2. FOOTER SIDEBAR
 */ 

	.footer-sidebar {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
		column-gap: 2rem;
		row-gap: 1rem;
		justify-items: stretch;
		background-color: $color-light;
		padding: 2rem 2rem 2rem 2rem; 
	}

	.footer-sidebar .widget {

	}

	.footer-sidebar .widget:not(:first-child):not(:last-child) {
		// padding: 0 2rem 0 2rem;
	}

	.footer-sidebar .widget a, .footer-sidebar .widget a:before  {
		
	}

	@media all and (min-width: $bp-med) {

		.footer-sidebar {

			row-gap: 2rem;

			.widget {
				/*
				* Widget Title 
				*/
				h2 {
					// color: $color-white;
					font-size: 1.4rem;
					font-weight: 500;
				}
			}
		}
	}

/**
 * 3. FOOTER COLOPHON
 */

	.footer-colophon {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-size: 0.8rem;
		color: rgba(0,0,0,0.75);

		@media all and (min-width: $bp-med) {
			flex-direction: row;
		}
	}

	.footer-colophon > * {
		padding: 1rem 2rem 1rem 2rem;
		text-align: center;
	}

	.footer-colophon p {
		font-size: 0.9rem;
	}

/*
 * 3. FOOTER CREDITS
 */

 footer.site-footer .credits {
	font-style: italic;
	font-size: 0.8rem;
	color: rgba(0,0,0, 0.5);
	text-align: center;
	padding: 1rem 2rem 1rem 2rem;

	@media all and (min-width: $bp-med) {
		padding: 0 2rem 2rem 2rem;
		text-align: left;
	}
}

footer.site-footer .credits a {
	font-size: 0.8rem;
	font-weight: 700;
}

/* Site info
************/	

.site-info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1.5rem 0 1.5rem 0;
	//border-top: 4px solid $color-white;

	background-color:#020c1b;
	color: $color-light;
	//padding: 0 2rem 0 2rem;

	.copyright {
		padding-right: 0;
		text-align: center;
		font-size: $font-size-small-2;
	}
}

@media all and (min-width: $bp-med) {

	.site-info {
		flex-direction: row;

		.copyright {
			padding-right: 1rem;
		}
	}

}

/* 
 * Credits
 */

.credits {

	a {
		color: $color-primary;
	}
}
