/*------------------------------------*\
    #FOOTER NAVIGATION
\*------------------------------------*/

nav.footer-navigation ul {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	color: rgba(0,0,0,0.75);
	font-size: 0.8rem; 

	@media all and (min-width: $bp-med) {
		flex-direction: row;
	}	
}

nav.footer-navigation ul li:not(:first-child) {
	padding: 0 0 0 1rem;
}

nav.footer-navigation ul li a {
	text-transform: uppercase;
	font-size: 0.7rem;
}

