/*------------------------------------*\
    #HEADER
\*------------------------------------*/

#top-header { 
	position: fixed;
	background: $color-light;
	top: 0;
	width: 100%;
	z-index: 100;
	transition: all .3s ease;
	height: 72px; // If changed, also change ../assets/js/elastic.js  
	margin: 0 0 0 0;
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	box-shadow: none; // horizontal-offset vertical-offset blur spread color 
}

.top-header {

	display: grid;
	grid-template-columns: 1fr auto auto;
	column-gap: 1rem;
	justify-items: stretch;
	align-items: center;

	@media all and (min-width: $bp-xl) {

		grid-template-columns: auto 1fr auto;
		column-gap: 4rem;
		grid-column-gap: 4rem;
		
	}

}

/**
 * Header variations
 */

/**
 * Header
 */

 nav#site-navigation {
	 justify-self: end;
 }

nav#shop-navigation {
	justify-self: end;
}

button.hamburger {
	justify-self: end;
}

/**
 * ...
 */

#top-header.hide {
	top: -153px;
 	transition-timing-function: ease-in;
 	transition: 0.6s;
}

// @media screen and (min-width: 783px) {
//   .admin-bar #masthead {
//     top: 32px;
//   }
// }


/* Header sidebar
*****************/

.header-sidebar {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;

	padding: 0.5rem;

	.widget {
		padding: 0 0 0 0;
	}

}

@media all and (min-width: $bp-med) {

	.header-sidebar {
		grid-template-columns: 1fr 1fr 1fr;

		margin: 4rem 0 2rem 0;

		.widget {
			padding: 0.5rem 0.5rem 0.5rem 0.5rem;
		}
	}
}
