/* 
 * User navigation
******************/

.user-navigation .menu {
	display: none;
	flex-direction: column;
	justify-content: flex-start;

	li {

		a {
			color: $color-primary;
			font-family: $font;
			font-weight: 700;
			font-size: 0.95rem;
		}
	}

	li:last-child a {
		color: $color-primary;
		border: 1px solid $color-primary;
		border-radius: 3px;
		padding: 0.4rem 0.6rem 0.4rem 0.6rem;
		font-size: 0.8rem;
		text-transform: uppercase;
		background-color: rgba(27, 99, 255, 0.05);
		border-left: 1px solid rgba(27, 99, 255, 0.75);
	}
}

@media all and (min-width: $bp-large-2) {

.user-navigation .menu {
	display: flex;
	padding-left: 2rem;
	flex-direction: row;

	li {
		padding: 0 0 0 1rem;
	}
}

}
