/**
 * 1) The page header contains the page's heading, as perhaps other page information
 *    such as description or actions (edit, delete, etc).
 */

/**
 * AWSM
 */

.archive .site-header {
	margin-bottom: 3.5em;
}

.site-title { 
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2;

	@media all and (min-width: $bp-small-2) {
		font-size: 20px;
	}

	@media all and (min-width: $bp-large-2) {
		font-size: 1.2rem;
	}
}

.site-title a {
	text-decoration: none;
	color: $color-black;
	text-transform: uppercase;

	:hover {
		color: $color-primary;
	}
}

.site-branding {
	color: $color-primary;

	display: flex;
	flex-direction: column;
	justify-content: center;

	h1 {
		color: $color-black;
		text-align: left;
	}

	a 	img {
		max-height: 3rem; 
		width: auto;
		border-radius: 50%;
	}
}

.site-branding h1 a:hover {
	color: $color-primary;
}

.site-description {
	display: none;
	margin: 0.16rem 0 0 0;
	font-size: 17px;
	font-weight: inherit;
	line-height: 1.4;
	word-wrap: break-word;
	color: $color-dim-50;

	@media all and (min-width: $bp-xl) {
		display: block;
	}
}

/*
 * Responsive Menu
 */

	.hamburger:hover {
		background: none;
	}

	.hamburger {
		@media all and (min-width: $bp-xl) {
			display: none;
		}
	}

/*
 * Overlay
 */

.header-modal-window {
	overflow: hidden;
	position: fixed;
	z-index: 99;
	top: 0;
    right: -86vw;
	width: 86vw;
	height: 100%;
	background-color: $color-dark;
	transition-duration: 0.3s;

	@media all and (min-width: $bp-small-2) {
		width: 33vw;
	}

	@media all and (min-width: $bp-med) {
		width: 33vw;
	}

	@media all and (min-width: $bp-large-2) {
		width: 33vw;
	}

	.menu-header-mobile li a {
		font-size: 1.2rem;
	}

	a::before {
		color: $color-primary;
	}
}

.header-modal-window.visible {
	right: 0;
}

// Option 1: Fade
.header-modal-window.visible.fade {
	transition: visibility 0s, opacity 0.3s linear;
}

// Option 2: Slide
.header-modal-window.visible.slide {
    transition: 1s;
    left: 0;
}

.header-modal-window--background {
	height: 100%;
	width: 100%;
	overflow: auto;
	// padding: 2.6rem 0 1rem 0;
	margin: 8rem 0 8rem 0;
}

.header-modal-window--content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
}

body.freeze {
	overflow: hidden;
}

.flex-centered {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 85vh;
}

/*
 * 2020 Header
 */

 .home-header {
	 height: 100vh;
	 background-color: $color-dark;

	 display: flex;
	 flex-direction: row;

	img {
		 border-radius: 3px;
	}

	h1 {
		 color: $color-white;
		 text-align: left;
	}
}
