/** 
 * PRIMARY NAVIGATION
 *
 * Description: ..
 *
 * @Doc awesomatic.nl/docs
 */

	/**
	 * We use .menu-header-mobile as our mobile menu, so we 
	 * don't need to display .menu-header on mobile screens.  
	 */

	 	.main-navigation {

			display: none;

			@media all and (min-width: $bp-xl) {
				display: block;
			}

		}	 

		nav#site-navigation .menu-header { 
			display: flex; // Show this menu on large screens and up
			flex-flow: row wrap;
			justify-content: flex-start;	
			align-items: center;
		}

		nav#site-navigation ul.menu-header li:not(:first-child)  {
			padding: 0 0 0 2rem;
		}

		nav#site-navigation ul.menu-header li a {
			color: $color-black;
			font-family: $font-secondary;
			font-weight: 700;
			font-size: 0.8rem;
			line-height: 1rem;
			text-transform: uppercase;
		} 

		nav#site-navigation ul.menu-header li a:hover {
			color: $color-primary;
		}

		nav#site-navigation .menu-header li.menu-item-has-children a {
			padding: 0 0 4rem 0;	
		}

		nav#site-navigation .menu-header li.menu-item-has-children a:hover {
			line-height: 1rem;	
		}

		nav#site-navigation ul.menu-header li.current-menu-item a {
			//border-bottom: 1px solid $color-black;
			color: $color-primary;
		}

		nav#site-navigation ul li:hover > ul li.current_page_item a {
			color: $color-primary;
			border-bottom: 2px solid $color-primary;
		}

		nav#site-navigation ul.sub-menu li.current-menu-item a {
			color: $color-primary;
			border-bottom: none;
		}

	/**
	 * Place an icon after every menu item that thas a submenu
	 */

	 .menu-item-has-children > a::after {
		font-family: "Font Awesome 5 Free";
		content: "\f107";
		padding: 0 0 0 0.75rem;
		font-weight: 900; // This need to be set to display icons properly
		color: $color-primary;
		line-height: 1rem;
		border: none;
	}

	.menu-item-has-children > a:hover::after {
		font-family: "Font Awesome 5 Free";
		content: "\f107";
		padding: 0 0 0 0.75rem;
		font-weight: 900; // This need to be set to display icons properly
		color: $color-dark;
		line-height: 1rem;
		border: none;
	}

	/*
	 * Submenu
	 */

		nav#site-navigation li ul {
			display: none;
			position: absolute;
			margin-top: 1.4rem;
		}

		nav#site-navigation ul li:hover > ul {
			display: flex;
			flex-direction: column;
			align-items: center;
			align-content: center;
			background: $color-gray-02;
			padding: 0 0 0 0;
		}

		nav#site-navigation ul.menu-header li ul.sub-menu li {
			padding: 0.5rem 1rem 0.5rem 1rem;
			border-bottom: 1px solid $color-light;
		}

		nav#site-navigation li ul.sub-menu li:not(:first-child):not(:last-child) {
			padding: 1rem 1rem 1rem 1rem;
		}
	
	/*
	 * Mobile Menu
	 *
	 * We are keeping styles for the mobile menu the 
	 * same, so we don't use media queryies in this one.
	 */

	.menu-header-mobile { 

		li {
			padding: 1.5rem 0 1.5rem 0;

			a {
				color: $color-light;
				font-size: 1.5rem;
			}
		}

		li.current_page_item a {

			// Place a border under every current page item
			border-bottom: 2px solid $color-white;
		}

		// Prevent every menu item getting a border when the parent is an active menu item
		li:not(.current_page_item) a {
			border-bottom: none;
		}

	}
	  
	/**
	* Shop navigation
	 */

  	nav#shop-navigation ul {
	  display: flex;
	  flex-flow: row nowrap;
	  align-items: center;
  	}

  	nav#shop-navigation ul li:not(:first-child) {
		padding: 0 0 0 1rem; // Add some space between menu items
		color: $color-primary;

		@media all and (min-width: $bp-xl) {
			padding: 0 0 0 1rem; // Add some space between menu items
		}

	} 

	nav#shop-navigation ul li a {
		margin: 0rem 0rem 0rem 0rem;
		//border: 1px solid $color-dark;
		//border-radius: 4px;
		color: $color-primary;
	}

	nav#shop-navigation ul.shop-navigation li ul#awsm-mini-cart {
		background-color: #eee;
		padding: 0.3rem 0.6rem 0.3rem 0.6rem;
		border-radius: 4px;
	}

	nav#shop-navigation ul.shop-navigation li ul#awsm-mini-cart li {
		padding: 0 0 0 0;
		text-transform: uppercase;
		font-size: 0.9rem;
	}	
