/*------------------------------------*\
    #BODY
\*------------------------------------*/

/**
 * Body base styles
 */
body {
	background: $color-white;
	color: $color-black;
	font: 100%/1.5 $font;
	-webkit-text-size-adjust: 100%;
	line-height: 28px;
	//scroll-behavior: smooth;
}

p.has-text-color a {
	color: $color-primary;
}
