/*------------------------------------*\
    #FORMS
\*------------------------------------*/

/**
 * Fieldset base styles
 */
fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

legend {
	display: none;
}

/**
 * Label base styles
 */
label {
	display: block;
	padding-bottom: 0.2rem;
	font-weight: bold;
}

/**
 * Form button, input, select, and text area base styles
 * 1) Zero out margin and inherit font styles
 */
button, input, select, textarea {
    font-family: inherit;
	margin: 0;
	height: 100%;
	border-radius: 3px;
	font-weight: bold;
	padding: 8px 16px 8px 16px;
  	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  	font-size: 1.2rem;
}

/**
 * Buttons
 */

button {
	cursor: pointer;
	border: 2px solid $color-dark;
	border-radius: 0px $border-radius $border-radius 0px;
	color: $color-white;
	text-transform: uppercase;
	font-size: 0.86rem;
	background-color: $color-dark;
	transition: all $anim-speed-quick $anim-ease;
}

button:hover {
	background: $color-black;
	color: $color-light;
}

button a, button:hover a {
	color: $color-light;
}

/**
 * Input and text area base styles
 * 1) Width entire container, gray border, padding
 */
input, textarea {
	width: 100%;
	border: 2px solid $color-dark;
	border-radius: $border-radius;
	height: 100%;
	background: $color-white;
	color: $color-primary;
}

/**
 * Input areas base styles
 * 1) Get rid of webkit appearance of these areas
 */
input[type=text], input[type=search], input[type=url], input[type=number], textarea {
	-webkit-appearance: none;
	color: $color-dark;
	padding: 1rem;
}

form button:hover {
	background: $color-light;
	color: $color-dark;
}

/**
 * Checkboxes/Radio button base styles
 */
input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 0.3em;
}

/**
 * Search cancel button and search decoration webkit appearance none
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: $color-dim-50;
	opacity: 0.5; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: $color-white;
	opacity: 0.5; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
	color: $color-white;
	opacity: 0.5; /* Firefox */
  }

.frm_error_style {
	background-color: $color-white;
	color: $color-utility-negative;
	padding: 0.5rem 1rem 0.5rem 1rem;
	border-radius: 4px;
	margin: 0 0 1rem 0;
	font-size: 0.8rem;

	p {
		color: $color-secondary;
	}
}

.frm_message  {
	background-color: $color-white;
	border-radius: 4px;
	padding: 0.5rem 1rem 0.5rem 1rem;

	p {
		color: $color-utility-positive!important;
		font-size: 0.8rem;
		margin: 0;
		padding: 0;
	}
} 

/**
 * Coming Soon Form
 */
.frm_fields_container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	height: 100%;

	label {
		display: none;
	}

	.frm_form_field {

		// Let the input element grow so it takes up all the extra space available. 
		flex-grow: 1;

		input {
			padding: 1rem 1rem 1rem 1rem; 
			min-height: 100%;
			border-radius: 4px 0px 0px 4px;
			//color: $color-white;
		}
	}

	.frm_error {
		color: $color-white;
		margin: 0.5rem 0 0 0;
		font-size: 0.8rem;
		position: absolute;
	}
}

 button:focus,
 input:focus,
 select:focus,
 textarea:focus {
  outline: none;
  border: 2px solid $color-dark;
  background-color: $color-light;
}

input:invalid {
	border: 2px solid $color-dark;
	outline: none;
  }
