/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

h1,h2,h3,h4,h5,h6 {
	font-family: $font-secondary;
	color: $color-black;
	margin: 0;
	padding: 0 0 1rem 0;
}

/**
 * Heading 1
 */
h1  {

	text-align: center;
	font-size: 2.2rem;
	line-height: 1.24;

	@media (min-width: $bp-small-2) {
		font-size: 2.6rem;
		line-height: 1;
	}	

	@media (min-width: $bp-large-2) {
		font-size: 3rem;
		line-height: 3.6rem;
	}	
}

/**
 * Heading 2
 */
h2 {
	font-size: 1rem;
	line-height: 1.58;

	@media (min-width: $bp-small-2) {
		font-size: 1.2rem;
	}

	@media (min-width: $bp-large-2) {
		font-size: 1.6rem;
	}
}

/**
 * Heading 3
 */
h3  {
	font-size: 1.4rem;
	line-height: 1.8;
}

/**
 * Heading 4
 */
h4  {
	font-size: 1.2rem;
	font-size: 1.2rem;
}

/**
 * Heading 5
 */
h5 {
	font-size: 1rem;
}

/**
 * Heading 6
 */
h6 {
	font-size: 0.8rem;
}

/**
 * Subheading
 */
.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}
