/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Links
 */
a {
	color: $color-primary;
	text-decoration: none;
	outline: 0;
	transition: all $anim-speed-quick $anim-ease;
	color: $color-dark;

	&:hover, &:focus {
		color: $color-primary;
		opacity: 0.8rem;
	}
}

// a:not([class]) {
// 	color: #0055ff;
// 	text-decoration: none;
  
// 	&:hover,
// 	&:focus {
// 	  text-decoration: underline;
// 	}
//   }

.entry-content p a {
	border-bottom: 1px solid $color-dark;
	transition: all $anim-speed-quick $anim-ease;

	&:hover, &:focus {
		color: $color-primary;
	}
}

/*
 * Icon links 
 */ 
a[href^="https://twitter.com"], 
a[href^="https://instagram.com"], 
a[href^="https://linkedin.com"],
a[href^="mailto:"] {
	color: $color-primary;
}
 
a[href^="https://twitter.com"]:before, 
a[href^="https://instagram.com"]:before, 
a[href^="https://linkedin.com"]:before,
a[href^="mailto:"]:before {
	color: $color-primary;
	display: inline-block;
	padding-right: 0.5rem;
	//font-weight: 900;
}
 
/* 
 * Twitter link 
 */
a[href^="https://twitter.com"]:before, a[href^="https://www.twitter.com"]:before {
	font-family: "Font Awesome 5 Brands";
	content: "\f099";
	color: $color-primary;
	display: inline-block;
	padding-right: 0.5rem;
	//font-weight: 900;
}
 
/*
 * Instagram link
 */
a[href^="https://instagram.com"]:before, a[href^="https://www.instagram.com"]:before {
	font-family: "Font Awesome 5 Brands";
	content: "\f16d";
	color: $color-primary;
	display: inline-block;
	padding-right: 0.5rem;
	//font-weight: 900;
}
 
/*
 * LinkedIn link
 */
a[href^="https://linkedin.com"]:before, a[href^="https://www.linkedin.com"]:before {
	font-family: "Font Awesome 5 Brands";
	content: "\f0e1";
	color: $color-primary;
	display: inline-block;
	padding-right: 0.5rem;
	//font-weight: 900;
}
 
/*
 * Email link
 */
a[href^="mailto:"] {
	color: $color-primary;
}

a[href^="mailto:"]:hover {
	color: $color-white;
}
 
a[href^="mailto:"]:before {
	font-family: "Font Awesome 5 Free";
	content: "\f1d8";
	color: $color-light;
}
