/*------------------------------------*\
    #MAIN
\*------------------------------------*/

/**
 * Main content area
 */
[role=main] {
	// flex: 1;
}

.entry-header {
    padding: 4rem 0 4rem 0;
    background-color: #f4f0eb;
}
