/*------------------------------------*\
    #MEDIA ELEMENTS
\*------------------------------------*/

/**
 * Make media elements responsive
 */
img, video, object {
	max-width: 100%;
	height: auto;
}

/**
 * Iframe base styles
 */
iframe {
	margin-bottom: $space;
}

/**
 * Figure base styles
 */
figure {
	margin-bottom: $space;
	
	/**
	 * Figure image base styles
	 */
	img {
		margin-bottom: $space-half;
		border-radius: 3px;
	}
}

/**
 * Figure caption base styles
 */
figcaption {
	font-style: italic;
}